<div class='row'>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h1>About me</h1>
        <p>Alpha web blog is application for sharing and viewing of news in last time </p>
        <%= link_to 'Back to main page', root_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
