<div class='row justify-content-md-center'>
  <center>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my alpha web blog</h1>
      <%= image_tag 'family_guy_brian_griffin_dog_newspaper.jpg', class: 'homepage_image' %><p class="lead">
      <%= link_to 'Sign up!', signup_path, class: 'btn btn-success btn-danger btn-lg' %>
    </div>
  </center>
</div>
<div class='row'>
  <div class="col-sm">
    <h3>Last news:</h3>
    <%= render @last_articles %>
  </div>
</div>
