/*
 *= require_tree .
 *= require_self
 */

@import "bootswatch/sketchy/variables";
@import "bootstrap";
@import "bootswatch/sketchy/bootswatch";

#logo {
  text-transform: uppercase;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
.article-actions {
  padding-top: 5px;
}
